@tailwind base;
@tailwind components;

.page-nav
.theme-default-content >
  a
    font-weight 500
    color $accentColor
    text-decoration none

  p a code
    font-weight 400
    color $accentColor

  kbd
    background #eee
    border solid 0.15rem #ddd
    border-bottom solid 0.25rem #ddd
    border-radius 0.15rem
    padding 0 0.15em

  blockquote
    font-size 1rem
    color #999;
    border-left .2rem solid #dfe2e5
    margin 1rem 0
    padding .25rem 0 .25rem 1rem

    & > p
      margin 0

  ul, ol
    padding-left 1.2em

  strong
    font-weight 600

  h1, h2, h3, h4, h5, h6
    font-weight 600
    line-height 1.25

    {$contentClass}:not(.custom) > &
      margin-top (0.5rem - $navbarHeight)
      padding-top ($navbarHeight + 1rem)
      margin-bottom 0

      &:first-child
        margin-top -1.5rem
        margin-bottom 1rem

        + p, + pre, + .custom-block
          margin-top 2rem

    &:hover .header-anchor
      opacity: 1

  h1
    font-size 2.2rem

  h2
    font-size 1.65rem
    padding-bottom .3rem
    border-bottom 1px solid $borderColor

  h3
    font-size 1.35rem

  a.header-anchor
    font-size 0.85em
    float left
    margin-left -0.87em
    padding-right 0.23em
    margin-top 0.125em
    opacity 0

    &:hover
      text-decoration none

  code, kbd, .line-number
    font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

  p, ul, ol
    line-height 1.7

  hr
    border 0
    border-top 1px solid $borderColor

  table
    border-collapse collapse
    margin 1rem 0
    display: block
    overflow-x: auto

  tr
    border-top 1px solid #dfe2e5

    &:nth-child(2n)
      background-color #f6f8fa

  th, td
    border 1px solid #dfe2e5
    padding .6em 1em

.bg-icon-chevron-down {
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.12%209.29L12%2013.17l3.88-3.88a.996.996%200%20111.41%201.41l-4.59%204.59a.996.996%200%2001-1.41%200L6.7%2010.7a.996.996%200%20010-1.41c.39-.38%201.03-.39%201.42%200z%22%20fill%3D%22%23000%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
}

@tailwind utilities;
